<div id="newsSlideShowContainer" onLoad="display()">
	<div id="slideshow-content">
		{% for post in site.posts %}
			<div style="background-image: url('{{ post.img }}')" class="slideshow-news"></div>
			<div class="slideshow-news-text">
				<h1>{{ post.title }}</h1>
				<p>{{ post.article }}</p>
			</div>
		{% endfor %}
	</div>
	<div id="newsSlideShow">
		<div id="buttonContainer">
			<div id="leftButton"  class="button" onClick="slideLeft()" ></div>
			<div id="rightButton" class="button" onClick="slideRight()"></div>
		</div>
	</div>
</div>
