<div style="background-color: rgba(42, 169, 213, .7); display: flex; justify-content: space-evenly; position: relative; top: -77px">
  <p style="margin-top:30px">Powered by: </p>
  <a href="https://www.htl-leonding.at" target="_blank" style="width: 28%; height: 28%">
    <img src="images/htl-leonding-logo.png" alt="Logo HTL Leonding">
  </a>
  <p style="margin-top:30px">and</p>
  <a href="https://www.fabasoft.com/en" target="_blank" style="width: 15%; height: 15%; margin-top: 8px;">
    <img src="images/fabasoft-logo.png" alt="Logo Fabasoft">
  </a>
</div>
