<header>
	<nav>
		<div id="logoPart">
			<div class="navPoint" id="logo">
				Logo
			</div>
		</div>
		<div id="menuPart">
			<div class="navPoint" id="home"     onMouseOver="navHoverOn(0)" onMouseOut="navHoverOff(0)">
				Home
			</div>
			<div class="navPoint" id="projects" onMouseOver="navHoverOn(1)" onMouseOut="navHoverOff(1)">
				Projects
			</div>
			<div class="navPoint" id="member"   onMouseOver="navHoverOn(2)" onMouseOut="navHoverOff(2)">
				Member
			</div>
			<div class="navPoint" id="about"    onMouseOver="navHoverOn(3)" onMouseOut="navHoverOff(3)">
				About
			</div>
		</div>
	</nav>
	<div id="hoverEffects">
		<div>
			<div class="hoverPoint" id="homeHover"></div>
			<div class="hoverPoint" id="projectsHover"></div>
			<div class="hoverPoint" id="memberHover"></div>
			<div class="hoverPoint" id="aboutHover"></div>
		</div>
	</div>
</header>
